<div class="user-form-page">
  	<div class="user-form-page__user-form">
	 	<header class="content-header clearfix">
			<div class="layout-container">
	  			{% if page.branding %}
				  {{ page.branding }}
				{% endif %}
			</div>
	 	</header>

	 	<div class="layout-container">
	      <main class="page-content clearfix" role="main">
	        	<div class="visually-hidden"><a id="main-content" tabindex="-1"></a></div>
	        	{% block title %}
	          	<h1 class="page-title user-form-page__page-title">{{ 'Log in'|t }}</h1>
	        	{% endblock %}
	        	{% if page.help %}
	          	<div class="help">
	            	{{ page.help }}
	          	</div>
	        	{% endif %}
	        	{{ page.content }}
	      </main>
	   </div>
  	</div>

  	<div class="user-form-page__wallpaper">
	 	<img src="{{ background_login_image }}" alt="{{'Login'|t}}" />
  	</div>
</div>
