{%
  set classes = [
  'node',
  'node-detail',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  'clearfix',
]
%}
{% set organizer = content.field_tour_orginizer[0]['#options']['entity'] %}
{% set conAddress %}{{ node.field_listing_address.value }}{% endset %}

<article{{ attributes.addClass(classes).addClass('node-listing-single') }}>
  <div class="listing-top">
    <div id="listing-home" class="listing-gallery before-help-region">
      {{ content.field_tour_gallery }}
    </div>

    <div class="listing-top-content">
      <div class="container">
        <div class="content-inner">
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="top-left">
                <div class="lt-single-cat">{{ content.field_tour_category }}</div>
                <h1{{ title_attributes.addClass('post-title') }}>{{ label }}</h1>
                <div class="tagline">{{ node.field_listing_tagline.value }}</div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="top-right-tour">
                <div class="listing-action align-items-center">
                  <div class="listing-action">
                    {% if node.field_tour_price_adl.value %}
                      <div class="item-action listing-price">
                        <span class="fas fa-money-bill text-success"></span>
                        <span class="label">از</span>{{ node.field_tour_price_adl.value }} لیر
                      </div>
                    {% endif %}
                    {% if content.field_tour_orginizer is not empty %}
                      {% if organizer.field_organizer_tel.value is not empty %}
                        <a class="item-action phone" href="tel:{{ organizer.field_organizer_tel.value }}">
                          <span class="fas fa-phone text-success"></span>
                          <span class="label">{{ 'تلفن برگزارکننده'|t  }}</span>{{ organizer.field_organizer_tel.value }}</a>

                      {% endif %}
                    {% endif %}

                    <div class="item-action category">
                      <span class="fas fa-user text-success"></span>
                      <span class="label">برگزارکننده</span>
                      <span class="listing-category">
                      <a hreflang="en">{{ content.field_tour_orginizer }}</a>
                       </span>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="listing-nav sticky-listing-nav">
      <div class="listing-nav-inner">
        <div class="listing-nav-inner-inner">
          <div class="container">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul>
                  <li><a href="#listing-home">{{'خانه'|t}}</a></li>
                  <li><a href="#listing-description">{{'توضیحات'|t}}</a></li>
                  <li><a href="#listing-amenties">{{'امکانات'|t}}</a></li>
                  <li><a href="#listing-video">{{'ویدیو'|t}}</a></li>
                  <li><a href="#listing-comment">{{'نظرات'|t}}</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="container">
    <div class="row">
      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <div class="listing-content-main">
          <div class="options d-flex align-items-center justify-content-between mb-3">
            <div class="item d-flex align-items-center me-3">
              <strong>{{ 'ظرفیت'|t }}</strong>
              <span class="mx-2">{{ content.field_tour_qty }}</span>
            </div>
            <div class="item d-flex align-items-center me-3">
              <strong>{{ 'شرایط سنی	'|t }}</strong>
              <span class="mx-2">{{ content.field_tour_age }}</span>
            </div>
            <div class="item d-flex align-items-center me-3">
              <strong>{{ 'درجه سختی	'|t }}</strong>
              <span class="mx-2">{{ content.field_tour_difficulty }}</span>
            </div>
          </div>
          {% if content.field_tour_image %}
            <div id="listing-home">
              <div>{{content.field_tour_image}} </div>
            </div>
          {% endif %}

          {% if content.body|render %}
            <div class="listing-info-block listing-description" id="listing-description">
              <div class="block-content">
                {{ content.body }}
              </div>
            </div>
          {% endif %}



          {% if content.field_tour_essentials|render %}
            <div class="listing-info-block">
              <h3 class="title">{{ 'نوع اقامتگاه'|t }}</h3>
              <div class="block-content">
                {{ content.field_tour_accommodation_type }}
              </div>
            </div>
          {% endif %}


          {% if content.field_tour_plan|render %}
            <div class="listing-info-block" id="listing-tour-plan">
              <h3 class="title">{{ 'برنامه سفر'|t }}</h3>
              <div class="block-content">
                {{ content.field_tour_plan }}
              </div>
            </div>
          {% endif %}

          {% if content.field_tour_arr_date['#items'] is not empty %}
            {% set start_time = content.field_tour_arr_date['#items'][0]['value'] %}
            {% set end_time = content.field_tour_arr_date['#items'][0]['end_value'] %}
            <div class="listing-info-block" id="listing-tour-plan">
              <h3 class="title">{{ 'تاریخ برگزاری'|t }}</h3>
              <div class="block-content">
                <div class="event-date d-flex align-items-center">
                  <div class="start-time">
                    <span class="fas fa-calendar-check ms-2 text-success"></span>{{ start_time|date('F j, Y - H:i') }}
                  </div>
                  <span class="fas fa-arrow-left mx-3 text-success"></span>
                  <div class="end-time">
                    <span class="fas fa-calendar-check ms-2 text-success"></span>{{ end_time|date('F j, Y - H:i') }}
                  </div>
                </div>
              </div>
            </div>

          {% endif %}


          {% if content.field_tour_essentials|render %}
            <div class="listing-info-block">
              <h3 class="title">{{ 'پذیرایی همراه با تور'|t }}</h3>
              <div class="block-content">
                {{ content.field_tour_serving }}
              </div>
            </div>
          {% endif %}


          <div class="listing-info-block listing-amenties" id="listing-amenties">
            <h3 class="title">{{ 'امکانات'|t }}</h3>
            <div class="block-content">
              <div class="d-flex align-items-center">

                {% if content.field_tour_pet[0]['#markup'] == 'allowed'  %}
                  <span class="fas fa-check text-success mx-2"></span>
                  <strong>{{ 'امکان آوردن پت '|t  }}</strong>
                  <strong class="mx-2">{{ 'مجاز'|t  }}</strong>

                {% elseif content.field_tour_pet[0]['#markup'] == 'disallowed' %}
                  <span class="fas fa-times text-danger mx-2"></span>
                  <strong>{{ 'امکان آوردن پت '|t  }}</strong>
                  <strong class="mx-2">{{ 'غیرمجاز'|t  }}</strong>
                {% else %}
                  <span class="fas fa-question text-warning mx-2"></span>
                  <strong>{{ 'امکان آوردن پت '|t  }}</strong>
                  <strong class="mx-2">{{ 'نیاز به هماهنگی'|t  }}</strong>
                {% endif %}

              </div>
              <div class="d-flex align-items-center">
                {% if  'بله' in content.field_tour_prv_car.0  %}
                  <span class="fas fa-check text-success mx-2"></span>
                {% else %}
                  <span class="fas fa-close text-danger mx-2"></span>
                {% endif %}
                <strong>{{ 'امکان همراهی تور با ماشین شخصی'|t  }}</strong>

              </div>
              <div class="d-flex align-items-center">
                {% if  'دارد' in content.field_tour_pay_by_irr.0  %}
                  <span class="fas fa-check text-success mx-2"></span>
                {% else %}
                  <span class="fas fa-close text-danger mx-2"></span>
                {% endif %}
                <strong>{{ 'امکان پرداخت ریالی'|t  }}</strong>

              </div>
              <div class="d-flex align-items-center">
                {% if  'دارد' in content.field_tour_insurance.0  %}
                  <span class="fas fa-check text-success mx-2"></span>
                {% else %}
                  <span class="fas fa-close text-danger mx-2"></span>
                {% endif %}
                <strong>{{ 'بیمه مسافرتی'|t  }}</strong>

              </div>
              <div class="d-flex align-items-center">
                {% if  'دارد' in content.field_tour_bi_ling_guide.0  %}
                  <span class="fas fa-check text-success mx-2"></span>
                {% else %}
                  <span class="fas fa-close text-danger mx-2"></span>
                {% endif %}
                <strong>{{ 'لیدر دوزبانه'|t  }}</strong>

              </div>
            </div>
          </div>


          {% if content.field_tour_essentials|render %}
            <div class="listing-info-block tour-essentials">
              <h3 class="title">{{ 'لوازم پیشنهادی'|t }}</h3>
              <div class="block-content">
                {{ content.field_tour_essentials }}
              </div>
            </div>
          {% endif %}

          {% if content.field_tour_necessities|render %}
            <div class="listing-info-block tour-necesseries" id="listing-necessiries">
              <h3 class="title">{{ 'ضروریات'|t }}</h3>
              <div class="block-content">
                {{ content.field_tour_necessities }}
              </div>
            </div>
          {% endif %}


          {% if content.field_tour_cancellation_policy|render %}
            <div class="listing-info-block listing-amenties" id="cancellation_policy">
              <h3 class="title">{{ 'قوانین کنسلی'|t }}</h3>
              <div class="block-content">
                {{ content.field_tour_cancellation_policy }}
              </div>
            </div>
          {% endif %}


          <div class="listing-info-block listing-video" id="listing-video">
            <h3 class="title">{{ 'ویدیو'|t }}</h3>
            <div class="block-content">
              {{ tour_video|raw }}
            </div>
          </div>

          {% if content.field_tour_tags|render %}
            <div class="listing-info-block listing-tags" id="listing-video">
              <h3 class="title">{{ 'برچسب ها'|t }}</h3>
              <div class="block-content">
                {{ content.field_tour_tags }}
              </div>
            </div>
          {% endif %}

          {% if content.field_comment %}
            <div class="listing-info-block listing-comment" id="listing-comment">
              <div class="block-content">
                <div id="node-single-comment">
                  {{ content.field_comment }}
                </div>
              </div>
            </div>
          {% endif %}


        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="listing-content-main listing-sidebar">
          {{ listing_sidebar }}

          <div class="lt-block-second business-info mt-3">
            <h3 class="title">{{ 'اطلاعات برگزارکننده'|t }}</h3>
            <div class="block-content">
              <ul class="business-info">
                {% if organizer.field_organizer_address.value is not empty %}
                  <li><span class="address"><i class="icon la la-map"></i>{{ organizer.field_organizer_address.value }}</span></li>
                {% endif %}
                {% if organizer.field_organizer_email.value is not empty %}
                  <li><a href="mailto:{{ organizer.field_organizer_email.value }}">
                      <i class="icon la la-envelope"></i>{{ organizer.field_organizer_email.value }}
                    </a>
                  </li>
                {% endif %}
                {% if organizer.field_organizer_tel.value is not empty %}
                <li>
                  <a href="tel:{{ organizer.field_organizer_tel.value }}">
                    <i class="icon la la-phone"></i>{{ organizer.field_organizer_tel.value }}</li>
                  </a>
                {% endif %}

{#                <li><span><i class="icon la la-globe"></i>example.com</span></li>#}

              </ul>
            </div>
          </div>

          <div class="lt-block-second business-info mt-3">
            <h3 class="title">اطلاعات تور</h3>
            <div class="block-content">
              <div class="item-info">
                <span>{{ 'ظرفیت تور'|t  }}</span>
                <i class="fas fa-user-group"></i>
                {{  content.field_tour_qty }}
              </div>

              <div class="item-info">
                <span>{{ 'شرایط سنی'|t }}</span>
                <i class="fas fa-user-check"></i>
                {{ content.field_tour_age }}
              </div>

              <div class="item-info">
                <span>{{ 'لیدر دوزبانه'|t }}</span>
                <i class="fas fa-globe"></i>
                {% if  'دارد' in content.field_tour_bi_ling_guide.0  %}
                  دارد
                {% else %}
                 ندارد
                {% endif %}
              </div>
            </div>
          </div>

          <div class="lt-block-second lt-map">
            <div class="listing-location-taxonomy">{{ content.field_listing_location }}</div>
            <div class="listing-main-map" id="listing-main-map"></div>
            <div class="listing-items hidden">
              <div class="listing-block">
                <div class="listing-data hidden">
                  {{ content.field_listing_category }}
                  <span class="data-lat">{{node.field_listing_map.lat}}</span>
                  <span class="data-lon">{{node.field_listing_map.lon}}</span>
                  <span class="data-html">
										<span class="gva-map-content-popup">
											<span class="image">
												<img src="{{ node.field_listing_image.entity.uri.value | image_style('small') }}" />
											</span>
											<span class="content-inner">
												<span class="title"><a href="{{ url }}" rel="bookmark">{{ node.title.value }}</a></span>
												{% if node.field_listing_address.value %}
                          <span class="address"><a href="https://www.google.com/maps/search/?api=1&query={{ conAddress|striptags }}"><i class="icon la la-map"></i>{{ conAddress|striptags }}</a></span>
                        {% endif %}
                        {% if node.field_listing_phone.value %}
                          <span class="phone">><a href="tel:"><i class="icon la la-phone"></i>{{ node.field_listing_phone.value }}</a></span>
                        {% endif %}
											</span>
										</span>
									</span>
                </div>
              </div>
            </div>
          </div>



          {% if content.field_listing_time|render %}
            <div class="lt-block-second business-hours">
              <h3 class="title">{{ 'Business Hours'|t }}</h3>
              <div class="block-content">
                {{ content.field_listing_time }}
              </div>
            </div>
          {% endif %}



        </div>

      </div>
    </div>
  </div>
</article>
{#<script>#}
{#	map_init('single');#}
{#</script>#}

